body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('pict/movie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #333;
}

.content {
  backdrop-filter: blur(3px);
  background-color: rgba(15, 15, 15, 0.1);
  padding: 20px;
  border-radius: 10px;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-top: 50px;
}

h1, h2 {
  color: #064451;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  height: 80px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn {
  background: #064451;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background 0.3s;
}

.btn:hover {
  background: #289eb5;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #888;
}

.history-container {
  margin-top: 20px;
}

.history-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.history-item strong {
  color: #064451;
}

/* Media query untuk layar dengan lebar kurang dari 600px */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    margin-top: 20px;
  }
}
